<div>
       
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/about">About Us</a>
                </li>
        
                <li>
                    <a routerLink="/link">Useful Links</a>
                </li>
        
                <li>
                    <a routerLink="/contact">Contact Us</a>
                </li>
        
        
                <li  >
                    <a routerLink="/signin">Login</a>
                </li>
        
                <li>
                    <a routerLink="/signup">Register</a>
                </li>
    
            </ul>
        </nav>
        
        </div>

<div style="color:black;">
                <h3>
                        About Us
                </h3>
<p>
        This site is a first of its kind portal for students seeking Education Loan. 
        This portal has been developed under the guidance of Department of Financial Services, (Ministry of Finance) , Department of Higher Education (Ministry of Human Resource Development) and Indian Banks Association (IBA).
        The portal has been developed and being maintained by NSDL e-Governance Infrastructure Limited.
        Students can view, apply and track the education loan applications to banks anytime, anywhere by accessing the portal. 
        The portal also provides linkages to National Scholarship Portal.
</p>

<p>
                NSDL e-Governance Infrastructure Limited (NSDL e-Gov) was originally setup as a Depository in 1995 and has over the years used its inherent strengths, project management capabilities & technology expertise to deliver state of the art e-Governance solutions which has helped Governments to identify and clear bottlenecks, promote transparency, reduce service delivery costs and deliver public services efficiently. The solutions have efficiently made use of information and communication technologies as a tool for delivering public services and benefits to society at large. 
                Some of the key e-Governance projects undertaken by NSDL e-Gov are:
</p>


<h3>About NSDL e-Gov</h3>
<p>
                NSDL e-Governance Infrastructure Limited (NSDL e-Gov) was originally setup as a Depository in 1995 and has over the years used its inherent strengths, project management capabilities & technology expertise to deliver state of the art e-Governance solutions which has helped Governments to identify and clear bottlenecks, promote transparency, reduce service delivery costs and deliver public services efficiently. 
                The solutions have efficiently made use of information and communication technologies as a tool for delivering public services and benefits to society at large. 
                Some of the key e-Governance projects undertaken by NSDL e-Gov are:

                Tax Information Network (TIN)
                Central Recordkeeping Agency (CRA) for National Pension System
                Electronic Accounting System in Excise & Service Tax (EASIEST)
                GST Pilot Project
                Registrar for Aaadhar enrolment and eKYC/Authentication Services
                National Judicial Reference System
</p>
</div>