<div>
       
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/about">About Us</a>
                </li>
        
                <li>
                    <a routerLink="/link">Useful Links</a>
                </li>
        
                <li>
                    <a routerLink="/contact">Contact Us</a>
                </li>
        
        
                <li  >
                    <a routerLink="/signin">Login</a>
                </li>
        
                <li>
                    <a routerLink="/signup">Register</a>
                </li>
    
            </ul>
        </nav>
        
        </div>

<div class="nav">
    <h3 style="text-align: center;">
            <b>Useful Links</b>
    </h3>
    
    <ul>
        <li><a href="/" (click)="onClick($event)">1. Department of Financial Services, Ministry of Finance</a></li>
        <li><a href="/bankasso">2. Indian Banks Association</a></li>
        <li><a href="/inst">3. NAAC Accredited Institutions
        </a></li>
        <li><a href="/" >4. List of NAAC /NBA / CFTI / INI Institutes :-
            FY 2018-2019
            FY 2019-2020
        <li><a href="/products">5.Rankings of Higher Education Institutes</a></li>

            

            </a></li>
    </ul>
    
</div>
