<div>
       
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/about">About Us</a>
                </li>
        
                <li>
                    <a routerLink="/link">Useful Links</a>
                </li>
        
                <li>
                    <a routerLink="/contact">Contact Us</a>
                </li>
        
        
                <li  >
                    <a routerLink="/signin">Login</a>
                </li>
        
                <li>
                    <a routerLink="/signup">Register</a>
                </li>
    
            </ul>
        </nav>
        
        </div>

<div style="text-align: center;">
    <h2>Contact Us</h2>
    <h4>
    <p style="text-align: center; color: firebrick;">
            NSDL e-Governance Infrastructure Limited (CIN U72900MH1995PLC095642)

    </p>

</h4>
Head Office Working Hours- Monday to Friday - 9:30 am to 6 pm
<br>
Mumbai
<br>
Address - Times Tower, 1st Floor, Kamala Mills Compound, Lower Parel, Mumbai - 400 013.
Tel - (020) 2567 8300
Fax - (022) 2491 5217
<br>
Branches Working Hours- Monday to Friday - 9:30 am to 6 pm
<br>
Kolkata
Address : 5th Floor, The Millenium, Flat No. 5W, 235/2A, Acharya Jagdish Chandra Bose Road, Kolkata - 700 020.
<br>
Chennai
Address : 6A, 6th Floor, Kences Towers, #1 Ramkrishna Street, North Usman Road, T. Nagar, Chennai - 600 017.
<br>
New Delhi
Address : 409/410, Ashoka Estate Building, 4th floor, Barakhamba Road, Connaught Place, New Delhi - 110 001.
<br>
Ahmedabad
Address : Unit No. 407, 4th floor, 3rd Eye One Commercial Complex Co-op. Soc. Ltd., Above Vijay Sales Stores C. G. Road, Near Panchvati Circle, Ahmedabad - 380006.

</div>