<div class="container">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
          <a class="navbar-brand" href="#">Hello, Librarian</a>
          <ul class="nav navbar-nav">
            <li class="active">
              <a routerLink="/editprofile">Edit Profile</a>
            </li>
            <li>
              <a routerLink="/changepassword">Change Password</a>
            </li>
            <li>
              <a routerLink="/bookavailability">Check Book Availability</a>
            </li>
            <li>
              <a routerLink="/addnewbook">Add New Book</a>
            </li>
            <li>
              <a routerLink="/newbookcopy">Add New Copy</a>
            </li>
            <li>
              <a routerLink="#">Return Book</a>
            </li>
            <li>
              <a routerLink="/issuebook">Issue Book</a>
            </li>
            <li>
              <a routerLink="/issuebooklist">List of Issued Book</a>
            </li>
            <li>
              <a routerLink="/addmember">Add New Member</a>
            </li>
            <li>
              <a routerLink="/takefeepayment">Take Payment</a>
            </li>
            <li>
              <a routerLink="/userpaymentlist">Payment History</a>
            </li>
            <li>
              <a routerLink="/userlists">List of All User</a>
            </li>
      
            <input type="text" value="" name="book" id="book" placeholder="Search Book by Name" />
            <input type="submit" name="signin" class="btn" value="Search" id="btnsubmit" />
          </ul>
          <div style="float: right;"><a routerLink="logout">Logout</a></div>
        </nav>
      
      
      
      
      
        <div class="row">
            <h3 style="float: left;">Check Book Availability</h3>
        </div>
          <form>
            <div class="row">
              <div class="form-group">
                <label>Enter Book Id :</label>
                &nbsp;
                <input type="number" value="" name="id" id="id"  placeholder="Enter Book Id" />
              </div>
            </div>
           
            <div class="row">
              <input type="submit" name="showreport" class="btn btn-success" value="Show Report" id="addnewcopy" />      
            </div>

          </form>
   
      <div class="table-responsive">
          <table class="table table-hover table-stripeds">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Book Id</th>
                      <th>Rack</th>
                      <th>Status</th>
                    </tr>
              </thead>
              <tbody>
                    <tr *ngFor="let copy of copies">
                        <td>{{copy.id}}</td>
                        <td>{{copy.bookid}}</td>
                        <td>{{copy.rack}}</td>
                        <td>{{copy.status}}</td>
                    </tr>
              </tbody>
          </table>
      </div>
      
  
 