<div style="color:black;">
        <h3>
                Instructions
        </h3>

<p>
        Eligibility
        Education Loans taken under IBA Model Education Loan Scheme.
        Students having parental income up to Rs. 4.5 lakhs per annum.
        Students enrolled in professional/ technical courses only from NAAC accredited institutions or professional/ technical programmes accredited by NBA or Institutions of National Importance or Central Funded Technical Institutions (CFTIs). Those Professional Institutions/programmes, which do not come under the ambit of NAAC or NBA, would require approval of the respective regulatory body viz, approval of Medical Council of India for Medical courses, Nursing Council of India for Nursing courses, Bar Council of India for Law etc.
        Admissible only for once either for UG, PG- Also admissible for integrated courses (graduate + post graduate).
        Interest Subsidy under this Scheme shall not be available to those students who discontinue their course midstream, or who are expelled from the Institution on disciplinary or academic grounds. However, the interest subsidy would be available only if discontinuation is due to medical grounds for which necessary documentation to the satisfaction of the Head of educational institution needs to be provided.
        
        
        What do I get?
        
        1. Moratorium Period
        Under the Scheme, the interest payable on the Educational Loan for the moratorium period i.e., Course Period plus one year as will be borne by the Government of India. After the period of moratorium, the interest on the outstanding loan amount shall be paid by the student, in accordance with the provisions of the existing Model Educational Loan Scheme of Banks and as may be amended from time to time.
        
        2. Interest Concession
        Under the IBA Scheme, 1% interest concession is provided for the loanees if the interest is serviced during the period when repayment holiday is specified for interest/repayment under the scheme. This 1% interest concession would be extended under the Central Scheme of lnterest Subsidy, provided the Government of India disburses interest subsidy claims to the Banks on half-yearly or yearly basis.
        
        
        For More details please contact respective bank or click on the CSIS link below
        <li><a href="https://www.vidyalakshmi.co.in/Students/resources/SubsidyScheme.html" ></a>
        </li>
</p>
</div>