<div>
       
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <ul class="nav navbar-nav">
            <li class="active">
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/about">About Us</a>
            </li>
    
            <li>
                <a routerLink="/link">Useful Links</a>
            </li>
    
            <li>
                <a routerLink="/contact">Contact Us</a>
            </li>
    
    
            <li  >
                <a routerLink="/signin">Login</a>
            </li>
    
            <li>
                <a routerLink="/signup">Register</a>
            </li>

        </ul>
    </nav>
    
    </div>
    

<table>
        <tr>
            <td>
                <img src="../../assets/loan.jpeg"  alt="Education loan image" style="height: 360px; width: 90%;">
    
            </td>
        </tr>
           <tr>
            <td>
                <div >
                    <h3 style="color: blue; text-align: center;">
                        Our Story
                    </h3>
                        <p>
                                This is the portal for students seeking Education Loan. 
                                This portal has been developed under the guidance of Department of Financial Services (Ministry of Finance), Department of Higher Education (Ministry of Human Resource Development) and Indian Banks Association (IBA). 
                                The portal has been developed and being maintained by NSDL e-Governance Infrastructure Limited. 
                                Students can view, apply and track the education loan applications to banks anytime, anywhere by accessing the portal.
                        </p>
                </div>
               
            </td>
           </tr>
           
    </table>
    